/* You can add global styles to this file, and also import other style files */
@import 'locomotive-scroll/src/locomotive-scroll.scss'; // Import Locomotive Scroll CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #F9F8F6 !important;
  overflow-x: hidden;
}
