<div class="wrapper">
  <div class="section topbar"></div>
  <section>
    <div class="container-fluid d-flex justify-content-between flex-column firstscreen">
      <div class="row">
        <div class="col-12 vertical-nav d-flex flex-column text-end ">
          <ul>
            <li class="link">ABOUT</li>
            <li class="link">PORTFOLIO</li>
            <li class="link">REVIEWS</li>
            <li class="link">PRE-CARE</li>
            <li class="link">CONTACT</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-10 ">
                <p class="shaman title">SHAMAN</p>
                <p class="ink title">INK</p>
              </div>

              <div class="col-2 d-flex flex-column text-end justify-content-end">
                <p class="sub-text">TATTOO ARTIST</p>
                <p class="sub-text">BASED IN NEW DELHI</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="smokeimg" src="./assets/bg-images/smoke.png" alt="smoke">
      <img class="owl" src="./assets/bg-images/owl.jfif" alt="smoke">

    </div>
  </section>
</div>
